@model IEnumerable<MolinaTextileSystem.Models.CustomerOrderDetailModel>

@{
    ViewData["Title"] = "Detalles de la Orden del Cliente";
}

<h1 style="text-align:center">Añadir detalle a esta orden</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-3 mb-3">
                <a asp-action="Create" asp-controller="CustomerOrderDetail" asp-route-id="@ViewBag.CustomerOrderId" class="btn btn-success">
                    Añadir detalle a la orden
                </a>
            </div>

            @if (TempData["message"] != null)
            {
                <div class="alert alert-primary" role="alert">
                    @TempData["message"]
                </div>
            }

            <table class="table table-bordered table-striped table-responsive" id="customerOrderDetailTable">
                <thead>
                    <tr>
                        <td>Orden de cliente</td>
                        <td>Detalle</td>
                        <td>Producto</td>
                        <td>Precio unitario</td>
                        <td>Cantidad</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customerOrderDetail in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => customerOrderDetail.CustomerOrderId)</td>
                            <td>@Html.DisplayFor(item => customerOrderDetail.CustomerOrderDetailId)</td>
                            <td>@customerOrderDetail.Producto?.ProductName</td>
                            <td>@Html.DisplayFor(item => customerOrderDetail.UnitPrice)</td>
                            <td>@Html.DisplayFor(item => customerOrderDetail.CustomerOrderDetailQuantity)</td>
                            <td>
                                <a asp-controller="CustomerOrderDetail"
                                   asp-action="Edit"
                                   asp-route-id="@customerOrderDetail.CustomerOrderDetailId"
                                   asp-route-id="@ViewBag.CustomerOrderId"
                                   class="btn btn-primary">
                                    Editar
                                </a>
                                <a asp-controller="CustomerOrderDetail"
                                   asp-action="Delete"
                                   asp-route-id="@customerOrderDetail.CustomerOrderDetailId"
                                   asp-route-id="@ViewBag.CustomerOrderId"
                                   class="btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $("#customerOrderDetailTable").DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ],
            columnDefs: [
                {
                    targets: 5,
                    orderable: false,
                    searchable: false
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
            }
        });
    });
</script>
}