@model IEnumerable<MolinaTextileSystem.Models.StateModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateDescription)
            </td>
            <td>
                    <a asp-controller="State"
                       asp-action="Edit"
                       asp-route-id="@item.StateId"
                       class="btn btn-primary">
                        Editar
                    </a>

                    <a asp-controller="State"
                       asp-action="Delete"
                       asp-route-id="@item.StateId"
                       class="btn btn-danger">
                        Eliminar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
