@model IEnumerable<MolinaTextileSystem.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                Patrón
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
            <td>
                    @item.Pattern.PatternName
            </td>
            <td>
                    @item.States.StateName
            </td>
            <td>
                    <a asp-controller="Product"
                       asp-action="Edit"
                       asp-route-id="@item.ProductId"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="Product"
                       asp-action="Delete"
                       asp-route-id="@item.ProductId"
                       class="btn btn-danger">
                        Eliminar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
