@model MolinaTextilSystem.Models.InventoryRawMaterialsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InventoryRawMaterialsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawMaterialID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawMaterialID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawMaterialName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawMaterialName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawMaterialDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawMaterialDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantityUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantityUsed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="RawMaterialID" type="hidden" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>
