@model IEnumerable<MolinaTextilSystem.Models.InventoryRawMaterialsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nueva materia prima</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}

<table class="table table-bordered table-striped table-responsive mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterialID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterialDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantityUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterialID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterialDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantityUsed)
            </td>
            <td>
                    <a asp-controller="InventoryRawMaterials" asp-action="Edit" asp-route-id="@item.RawMaterialID" class="btn btn-primary">Editar</a>
                    <a asp-controller="InventoryRawMaterials" asp-action="Delete" asp-route-id="@item.RawMaterialID" class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
