@model MolinaTextileSystem.Models.CustomerOrderDetailModel

@{
    ViewData["Title"] = "Eliminar Detalle";
}

<div style="text-align: center;">
    <h1>Eliminar Detalle</h1>
    <h3>¿Está seguro que desea eliminar?</h3>

    <div style="margin: 0 auto; width: fit-content;">
        <table style="text-align: justify; border-collapse: separate; border-spacing: 0 8px;">
            <tbody>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.CustomerOrderId)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerOrderId)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.CustomerOrderDetailId)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerOrderDetailId)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.ProductId)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.UnitPrice)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        @Html.DisplayNameFor(model => model.CustomerOrderDetailQuantity)
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerOrderDetailQuantity)
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <form id="deleteForm" asp-action="Delete" style="margin: 0 20px;">
                <input asp-for="CustomerOrderDetailId" type="hidden" class="form-control" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </form>
            <a id="regresarLink" class="btn btn-primary">Regresar al listado</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('regresarLink').addEventListener('click', function () {
            var url = '@Url.Action("GetAllCustomerOrderDetails", "CustomerOrder", new { id = Model.CustomerOrderId })';
            window.location.href = url;
        });

        document.getElementById('deleteForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var form = event.target;
            fetch(form.action, {
                method: form.method,
                body: new FormData(form)
            }).then(response => {
                if (response.ok) {
                    var url = '@Url.Action("GetAllCustomerOrderDetails", "CustomerOrder", new { id = Model.CustomerOrderId })';
                    window.location.href = url;
                }
            }).catch(error => console.error('Error al eliminar el detalle:', error));
        });
    </script>
}