@model IEnumerable<MolinaTextileSystem.Models.CustomerOrderDetailModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrderDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrderDetailQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerOrderDetailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerOrderDetailQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerOrderId)
            </td>
            <td>
                @item.Producto.ProductName
            </td>
            <td>
                    <a asp-controller="CustomerOrderDetail"
                       asp-action="Edit"
                       asp-route-id="@item.CustomerOrderDetailId"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="CustomerOrderDetail"
                       asp-action="Delete"
                       asp-route-id="@item.CustomerOrderDetailId"
                       class="btn btn-danger">
                        Eliminar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
