@model IEnumerable<CustomerModel>

@{
    ViewData["Title"] = "Listado de Clientes";
}

<h1 style="text-align:center">Listado de Clientes</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-3 mb-3">
                <a asp-action="Create" asp-controller="Customer" class="btn btn-success">
                    Crear nuevo Cliente
                </a>
            </div>

            @if (TempData["message"] != null)
            {
                <div class="alert alert-primary" role="alert">
                    @TempData["message"]
                </div>
            }

            <table class="table table-bordered table-striped table-responsive" id="CustomerTable">
                <thead>
                    <tr>
                        <td>Cliente ID</td>
                        <td>Nombre</td>
                        <td>Dirección</td>
                        <td>Telefono</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => customer.CustomerId)</td>
                            <td>@Html.DisplayFor(modelItem => customer.CustomerName)</td>
                            <td>@Html.DisplayFor(modelItem => customer.CustomerAddress)</td>
                            <td>@Html.DisplayFor(modelItem => customer.CustomerPhone)</td>
                            <td>
                                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId" class="btn btn-primary">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerId" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CustomerTable").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 4,
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}


