@model IEnumerable<CustomerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => customer.CustomerId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => customer.CustomerName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => customer.CustomerAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => customer.CustomerPhone)
            </td>
            <td>
                    <a asp-controller="Customer"
                       asp-action="Edit"
                       asp-route-id="@customer.CustomerId"
                       class="btn btn-primary">
                        Editar
                    </a>

                    <a asp-controller="Customer"
                       asp-action="Delete"
                       asp-route-id="@customer.CustomerId"
                       class="btn btn-danger">
                        Eliminar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
