@model MolinaTextilSystem.Models.CustomerOrderModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que deseas eliminar esto?</h3>
<div>
    <h4>CustomerOrderModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID de Orden de Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrderID)
        </dd>
        <dt class="col-sm-2">
            Nombre del Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            Problema de la Orden
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrderIssue)
        </dd>
        <dt class="col-sm-2">
            Descripción de la Orden
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrderDescription)
        </dd>
        <dt class="col-sm-2">
            Receta Textil
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextileRecipe)
        </dd>
        <dt class="col-sm-2">
            Monto Total
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="CustomerOrderID" type="hidden" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
    </form>
</div>

