@model IEnumerable<MolinaTextilSystem.Models.CustomerOrderModel>

@{
    ViewData["Title"] = "Índice";
    var employeeRolID = (EmployeeRol)ViewData["EmployeeRol"];
}

<h1>Índice</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nueva orden de cliente</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}

<table class="table table-bordered table-striped table-responsive mt-2">
    <thead>
        <tr>
            <th>
                ID de Orden
            </th>
            <th>
                Nombre del Cliente
            </th>
            <th>
                Asunto de la Orden
            </th>
            <th>
                Descripción de la Orden
            </th>
            <th>
                Materiales
            </th>
            <th>
                Monto Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerOrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerOrderIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerOrderDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextileRecipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a asp-controller="CustomerOrder" asp-action="Edit" asp-route-id="@item.CustomerOrderID" class="btn btn-primary">Editar</a>
                    @if (employeeRolID == EmployeeRol.Employee)
                    {
                        <a asp-controller="CustomerOrder" asp-action="Delete" asp-route-id="@item.CustomerOrderID" class="btn btn-danger">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

